{% extends 'base2.html' %}


{% block titulo %}
Bienvenida al Sistema de SS
{% endblock titulo %}


{% block contenido %}
<br>
<hr>
<h1>Bienvenid@ al Sistema de Servicio Social</h1>
{% endblock contenido %}