<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar unidad</title>
</head>

<body>
    <h1>Actualizar unidad</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Guardar</button>
        <a href="{% url 'lista_unidades' %}">Cancelar</a>

    </form>
</body>

</html>