{% extends 'base2.html' %}

{% block titulo %}
Unidades académicas
{% endblock titulo %}

{% block contenido %}
<h1>Unidades académicas UAZ</h1>
<a class="btn btn-primary" href="{% url 'nueva_unidad' %}">Nueva unidad</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for unidad in unidades %}
        <tr>
            <td>{{unidad.id}}</td>
            <td>{{unidad.nombre}}</td>
            <td>{{unidad.descripcion}}</td>
            <td>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'eliminar_unidad' unidad.id %}">Eliminar</a>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'editar_unidad' unidad.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}