{% extends 'base2.html' %}

{% block titulo %}
Nueva unidad
{% endblock titulo %}

{% block contenido %}
<h1>Nueva unidad</h1>
<form method="post" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success" type="submit">Agregar</button>
    <a class="btn btn-warning" href="{% url 'lista_unidades' %}">Cancelar</a>
</form>

{% endblock contenido %}